<!DOCTYPE html>
<html>
    <head>
        <title>v-drag-drop</title>
        <meta charset="utf-8">

        <script src="https://unpkg.com/vue@2.5.13/dist/vue.min.js"></script>
        <script src="../dist/vDragDrop.js"></script>

        <style>
            html, body {
                font-family: monospace;
                font-size: 16px;
            }
            .draggableContainer {
                width: 30px;
                height: 30px;
                margin: 5px;
                display: inline-block;
                background: lightgray;
            }
            .draggableContainer.dark {
                background: gray;
            }
            .droppableContainer {
                width: 200px;
                height: 50px;
                margin: 5px;
                border: 1px solid lightgray;
            }
            .droppableContainer.dark {
                border: 1px solid gray;
            }
        </style>
    </head>

    <body>
        <div id="app">
            <h2>v-drag-drop</h2>
            Open the console to see log messages.

            <h4>Lists Items</h4>
            <list-items-demo></list-items-demo>

            <h4>Containers</h4>
            <containers-demo></containers-demo>

            <h4>Namespaces</h4>
            <namespaces-demo></namespaces-demo>
        </div>


        <!-- List items demo -->
        <script type="text/x-template" id="listItemsDemoTemplate">
            <ul>
                <li v-for="item in items" :key="item"
                    v-draggable.move="item" @drag-start="onDragStart" @drag-move="onDragMove" @drag-end="onDragEnd"
                    v-droppable.move @drag-drop="dropItem => onDropped(dropItem, item)"
                    @drag-enter="onDragEnter" @drag-leave="onDragLeave">
                    {{ item }}
                </li>
            </ul>
        </script>
        <script>
            Vue.component('list-items-demo', {
                template: '#listItemsDemoTemplate',
                data: () => ({ items: ['foo', 'bar', 'baz'] }),
                methods: {
                    onDragStart(item) {
                        console.log('drag start', item);
                    },
                    onDragMove(item) {
                        console.log('drag move', item);
                    },
                    onDragEnd(item) {
                        console.log('drag end', item);
                    },
                    onDropped(item, currentItem) {
                        console.log('dropped', item, 'onto', currentItem);
                    },
                    onDragEnter(item) {
                        console.log('drag enter', item);
                    },
                    onDragLeave(item) {
                        console.log('drag leave', item);
                    }
                }
            });
        </script>


        <!-- Containers demo -->
        <script type="text/x-template" id="containersDemoTemplate">
            <div>
                <div v-for="i in [1,2,3]" :key="i"
                     v-if="!itemsInContainer.includes(i)"
                     v-draggable.move="getObjectToDrag(i)"
                     class="draggableContainer">
                    {{ i }}
                </div>
                <div v-droppable @drag-drop="onContainerDropped" class="droppableContainer">
                    <div v-for="i in itemsInContainer" :key="i" class="draggableContainer">{{ i }}</div>
                </div>
            </div>
        </script>
        <script>
            Vue.component('containers-demo', {
                template: '#containersDemoTemplate',
                data: () => ({ itemsInContainer: [] }),
                methods: {
                    getObjectToDrag(i) {
                        return { foobar: i };
                    },
                    onContainerDropped(dropItem) {
                        this.itemsInContainer.push(dropItem.foobar);
                        console.log('dropped container', dropItem);
                    }
                }
            });
        </script>


        <!-- Namespaces demo -->
        <script type="text/x-template" id="namespacesDemoTemplate">
            <div>
                <div v-for="i in [1,2,3]" :key="i" v-draggable:namespace1.move="i" class="draggableContainer">{{ i }}</div>
                <div v-for="i in [4,5,6]" :key="i" v-draggable:namespace2.move="i" class="draggableContainer dark">{{ i }}</div>
                <div v-droppable:namespace1 @drag-drop="item => onContainerDropped('namespace1', item)" class="droppableContainer"></div>
                <div v-droppable:namespace2 @drag-drop="item => onContainerDropped('namespace2', item)" class="droppableContainer dark"></div>
            </div>
        </script>
        <script>
            Vue.component('namespaces-demo', {
                template: '#namespacesDemoTemplate',
                methods: {
                    onContainerDropped(namespace, item) {
                        console.log('dropped', item, 'in namespace', namespace);
                    }
                }
            });
        </script>


        <!-- Initialization -->
        <script>
            Vue.use(vDragDrop);
            
            new Vue({ el: '#app' });
        </script>
    </body>
</html>